@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
body{
  width: 99%;
  height: auto;
  margin: 0;
  padding: 0;
  background-image: url("pics/mainbg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
}
.box{
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  width: 65%;
  height: 850px;
  background-color: #fff;
}
.box-items{
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.logo{
  display: inline-block;
  width: 110px;
  margin-top: 15px
}
.logotitle{
  display: inline-block;
}
#role-title{
  margin: 75px 0 0 0;
  font-size: 26px;
  line-height: 0;
  letter-spacing: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.role-buttons{
  display: inline-block;
  margin:  0;
  padding: 0 50px 0 50px;
}
.student, .instructor{
  display: inline-block;
}
#st-rl, #ins-rl{
  padding: 2px;
  width: 350px;
  height: 350px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #48A14D;
  box-shadow: 0 9px #999;
}
#st-rl{
  background-image: url("pics/stud.png");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: center;
}
#ins-rl{
  background-image: url("pics/ins.png");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: center;
}
.role-label{
  display: block;
  margin: 35px 0;
  font-size: 26px;
  letter-spacing: 5px;
  line-height: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h2{
  margin-left: 45px;
}
h2, h3{
  font-size: 19px;
  text-align: left;
  line-height: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h4{
  font-size: 16px;
  line-height: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h5{
  margin-top: 40px;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
#subtn {
  background: green;
  border-radius: 12px;
  border: none;
  margin-top: 50px;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
#fr{
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 22PX;
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  background: #32CD32;
  color: white;
  transform: translateY(-6px);
}
#subtn:active #fr {
  transform: translateY(-2px);
}
p.signin{
  text-align: center;
  margin-top: 45px;
  font-size: 17px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
::placeholder {
   font-size: 16px;
   opacity: 0.5;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   text-indent: 10px;
}
.inv {
    display: none;
}
